.swiper-pagination {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
}

.pagination-bullet {
  width: 30px !important;
  height: 30px !important;
  background: transparent !important;
  opacity: 1 !important;
  position: relative;
  transition: all 0.3s ease;
}

.bullet-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet-content span {
  color: #a885f7;
  font-size: 14px;
  position: absolute;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.pagination-bullet svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.progress-ring {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 2;
}

.progress-ring-fill {
  fill: none;
  stroke: #a885f7;
  stroke-width: 3;
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  transition: stroke-dashoffset 0.3s ease;
}

.swiper-pagination-bullet-active .progress-ring {
  fill: rgba(255, 255, 255, 0.1);
}
.swiper-pagination-bullet-active .bullet-content span {
  opacity: 1;
}

.swiper-pagination-bullet-active .progress-ring-fill {
  animation: progress 5s linear;
  stroke-width: 4;
}

@keyframes progress {
  from {
    stroke-dashoffset: 201;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* hover 효과 */
.pagination-bullet:hover .bullet-content span {
  opacity: 1;
}

.pagination-bullet:hover .progress-ring {
  stroke: rgba(255, 255, 255, 0.4);
}

/////
///
///
///
///
.slide-content {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }

  // 딜레이 클래스들
  &-delay-1 {
    transition-delay: 0.2s;
  }

  &-delay-2 {
    transition-delay: 0.4s;
  }

  &-delay-3 {
    transition-delay: 0.6s;
  }
}

// 활성화된 슬라이드의 콘텐츠
.swiper-slide-active .slide-content {
  opacity: 1;
  transform: translateY(0);
}

// 로딩 스피너

.loader {
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(180deg, #00fff5, transparent 60%);
  border-radius: 50%;
  animation: animate 1.2s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00fff5, transparent 60%);
  border-radius: 50%;
  filter: blur(25px);
}

.loader::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  background: #121213;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
